body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(51, 51, 51);
    font-family: Lato, sans-serif;
    overflow: auto;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}


#app #appContent DIV.titleFlex {
    background-color: white;
    padding-top: 20px;
    display: flex;
}

#app #appContent SPAN.title {
    font-size: 200%;
    margin-left: 25px;
    font-weight: 300;
}

#app #appContent SPAN.buttons {
    margin-left: auto;
    margin-right: 20px
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#content {
    height: 100%;
}

H1.header {
    font-weight: 300;
    border-bottom: solid 1px #ccc;
    padding-left: 20px;
    color: black;
    font-size: 170%;
}

SPAN.float {
    position: absolute;
    top: 3px;
    left: 48px;
    padding: 6px 10px;
    background-color: rgb(117, 117, 117);
    color: white;
    border-radius: 4px;
    display: none;
    border: solid 2px white
}

DIV.iconContainer:hover SPAN.float {
    display: block;
}

DIV.iconContainer {
    position: relative;

}

.flexDiv {
    display: flex;
}

.console {
    font-family: Consolas, monospace;
    background-color: black;
    color: white;
    padding: 5px;
    overflow: auto;
    font-size: 13px;
    line-height: 1.1;
    margin: 20px 0 0 0;
    box-sizing: border-box;
    min-width: 700px;
    min-height: 400px;
}

.downloadDetails {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.downloadDetails .left {
    -webkit-box-shadow: 6px 1px 8px -7px rgba(87, 87, 87, 1);
    -moz-box-shadow: 6px 1px 8px -7px rgba(87, 87, 87, 1);
    box-shadow: 6px 1px 8px -7px rgba(87, 87, 87, 1);
    background-color: #575757;
    color: white;
}

.downloadStats {
    width: 100%;
    font-weight: 300;
}

.downloadStats TD.name {
    font-weight: 400;
    border-right: solid 1px #ccc;
}

.providerCard {
    width: 300px;
    background-color: white;
    box-sizing: content-box;
    float: left;
    box-shadow: 0 4px 4px -2px #aaa;
    margin: 12px 8px;
}

A {
    text-decoration: none;
    color: inherit;
}

.providerData {
    background-color: #1565c0;
    color: white;
}

.providerData H1.name {
    margin: 4px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}

.providerData DIV.header {
    padding: 10px;
    margin-top: -5px;
}

.providerData H2.url {
    margin: 0 10px;
    font-size: 98%;
    font-weight: 300
}

.providerData H3.contact {
    font-weight: 300;
    border-bottom: 1px solid #666;
    padding-left: 20px;
}

.providerData TABLE.contact {
    margin: 10px 20px;
    font-weight: 300;
}

.providerData TABLE.contact TD:first-child {
    font-weight: 400;
    padding-right: 5px;
    border-right: solid 1px #ccc;
}

.progressLineContainer {
    width: 100%;
}

.progressLine {
    line-height: 5px;
    text-align: center;
    background-color: #c9693d;
    font-weight: 400;
}

.statusBox {
    display: inline;
    font-weight: 400;
    padding: 6px 9px 5px 9px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}

.FeedCardInfoBox {
    margin: 3px;
    background-color: #0277bd;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 85%;
    width: 250px;
}

.FeedCardInfoBox H2 {
    font-weight: 300;
    white-space: nowrap;
    margin: 2px 5px 9px 5px;
}

.FeedCardInfoBox TABLE TD {
    font-weight: 300;
    padding: 2px 5px 2px 5px
}

.FeedCardInfoBox TABLE TD:first-child {
    font-weight: 400;
    white-space: nowrap;
    border-right: 2px solid white;
    text-align: right;
    padding-right: 7px;
}


.dataPane {
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.jobStatusHeader {
    width: 100%;
    background-color: #1565C0;
    color: white;
    position: relative;
    z-index: 10;
    height: 105px;
}

.jobStatusHeader .jobStatusLeft {
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.jobStatusHeader .jobStatusRight {
    width: 60px;
    display: flex;
    align-items: center;
}

.jobStatusData {
    background: white;
    height: calc(100% - 165px);
    overflow-x: auto;

}

.feedCounter {
    width: 110px;
}

.feedCounter DIV {
    display: block;
    text-align: right;
}

.feedCounter DIV.title {
    font-size: 90%;
}

.feedCounter DIV.value {
    font-size: 200%;
}

.jobFilter {
    display: flex;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
}

.progressContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.providerData .records {
    text-align: center;
    font-size: 350%;
    padding: 20px 0;
    font-weight: 300;
}

TABLE.headerTable TD {
    padding: 5px;
}

.AnalysisTable .row {
    width: 100%;
}

.AnalysisTable .row .value {
    margin-left: 10px
}

.AnalysisTable .row .key {
    font-weight: 300;
    padding: 6px 0 3px 0;
}


.QueryAnalysis .header,
.Search .header {
    padding: 0 0 10px 0;
    font-weight: 300;
    display: inline-block;
    margin: 0;
    width: 100%;
}

.ValuePercentage {
    font-weight: 400;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
}

.ValuePercentage .percentage {
    width: 40px;
    background: #c5c5c5;
    color: #c2185b;
    border-radius: 2px;
    padding: 3px 5px;
    margin: 1px;
    font-size: 75%;
}

.QueryAnalysis {
    padding: 10px;
    height: 100%;
    float: left;
}

.Search {
    padding: 10px;
    height: 100%;
    float: left;
    max-width: 660px;
}

.Search .offer {
    background: white;
    padding: 5px;
    color: black;
    width: 180px;
    height: 180px;
    margin: 12px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.Search .offer .name {
    font-size: 90%;
    margin: 0;
    padding: 2px;
    font-weight: 400;
}

.searchInput {
    width: 98%;
    background: transparent;
    color: white;
    padding: 5px;
    font-size: 25px;
    border: 0;
    border-bottom: solid 2px white;
}

.searchResult {
    padding: 5px;
    height: 100%;
}

.searchPane {
    height: 100%;
    background-color: #c2185b;
    color: white;
    box-sizing: border-box;
}

.searchInputPane {
    height: 62px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #c2185b;
    -webkit-box-shadow: 0px 6px 13px -3px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 6px 13px -3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 6px 13px -3px rgba(0, 0, 0, 0.54);
}


