DIV.AllLogConsole {
    background-color: black;
    height: 100%;
    color: white;
}

DIV.AllLogConsole DIV.console {
    overflow: auto;
    margin:0;
    padding: 3px;
    height: 100%;
    font-family: "Courier New", monospace;
    white-space: pre;
    font-size: 105%;
}

DIV.AllLogConsole DIV.console SPAN {
    cursor: pointer;
}

DIV.AllLogConsole DIV.console SPAN:hover {
    text-decoration: underline;
}