#app {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

#app #appContent {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    padding: 0 0 0 50px;
    z-index: 1;
    align-items: stretch;
    transition-property: padding;
    transition-duration: 0.2s;
}

#app .appContent {
    position: relative;
    height: 100%;
}
