.FeedCard {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    width: 230px;
    height: 170px;
    background-color: white;
    box-sizing: content-box;
    display: inline-block;
    box-shadow: 0 4px 4px -2px #aaa;
    margin: 3px;
    font-size: 75%;
    border-radius: 4px;
    border-collapse: separate;
}

.FeedCard .merchantName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 7px;
    color: white;
}

.FeedCard .merchantName .merchantTitle {
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.FeedCard TABLE.stats {
    font-weight: 300;
    font-size: 95%;
    margin: 5px;
}

.FeedCard TABLE.stats TD.name {
    font-weight: 400;
    padding-right: 5px;
    border-right: solid 1px #aca;
}

.FeedCard .name {
    padding-right: 20px;
}

.FeedCard .nameLink {
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    width: 204px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FeedCard .infoDiv {
    padding: 10px;
    font-size: 90%;
    height: 152px;
}

.FeedCard .lastDownloadInfo {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

.FeedCard .bottomInfo {
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.FeedCard .downloading {
    font-weight: 300;
    text-align: center;
    line-height: 35px;
    margin: 0;
    font-size: 100%;
}

.FeedCard .downloadProgressValue {
    font-weight: 300;
    text-align: center;
    line-height: 35px;
    margin: 0;
    font-size: 140%;
}

.FeedCard .lastDownloadInfo .value {
    font-weight: 300;
}

.FeedCard .downloadProgress {
    float: left;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 200%;
    font-weight: 300;
}
