.progressLogConsole {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.progressLogConsole .tabs {
    background: white;
    padding: 0 15px;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    position:absolute;
}

.progressLogConsole DIV.console {
    background-color: black;
    color: white;
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 13px;
    line-height: 1.2;
    margin:  32px 0 0 0;
    box-sizing: border-box;
    min-width: 700px;
    min-height: 400px;
    font-family: "Courier New", monospace;
    white-space: pre;
}