.menuLink {
    display: flex;
    height: 25px;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-size: 90%;
}

.menuLink:hover {
    background-color: #444
}

.menuLabel {
    margin: 4px 20px 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}