#app #appMenu {
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    color: white;
    z-index: 100;
    align-items: stretch;
    transition-property: width;
    transition-duration: 0.2s;
}